body{  font-family: "Mona Sans", sans-serif;
    background: black;
    color:purple;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: aqua;
    display: flex;
    justify-content:center;
    padding-top:80px;
    padding-bottom: 80px;
}
header{
    color:fuchsia;
    font-size: 35px;
    border-bottom: 3px solid fuchsia;
    padding: 20px
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 36px;
}

