body{  font-family: "Mona Sans", sans-serif;
    background: black;
    color:purple;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: aqua;
    display: flex;
    justify-content:center;
    padding-top:80px;
    padding-bottom: 80px;
}

    
